In [3]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import RandomizedSearchCV
warnings.filterwarnings("ignore")

In [5]:
df=pd.read_csv(r"C:\Users\Teja\Downloads\PRCP-1003-CustTransPred\Data\train(1).csv")

In [4]:
df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Columns: 202 entries, ID_code to var_199
dtypes: float64(200), int64(1), object(1)
memory usage: 308.2+ MB

In [9]:
df.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Columns: 202 entries, ID_code to var_199
dtypes: float64(200), int64(1), object(1)
memory usage: 308.2+ MB

In [7]:
df.isnull().sum()

ID_code    0
target     0
var_0      0
var_1      0
var_2      0
          ..
var_195    0
var_196    0
var_197    0
var_198    0
var_199    0
Length: 202, dtype: int64

In [9]:
df_1=df.drop(columns=["ID_code","target"],axis=1) # DROPPED THESE COLUMNS DUE TO FUTHURE EDA AND FEATURE ENGINEERING

In [13]:
df_1.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [15]:
df_1.describe()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,7.567236,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,1.235070,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,3.970500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,6.618800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,7.629600,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,8.584425,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,11.150600,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

# CHECKING DISTRIBUTION OF ALL COLUMNS

In [ ]:
sns.histplot(df_1["var_0"],kde=True) # all column are normally distributed

In [ ]:
for column in df_1.columns:
    plt.figure(figsize=(9, 4))
    sns.histplot(df_1[column], kde=True)  # Use the column variable here
    plt.title(f'Distribution of {column}')  # Add a title for clarity
    plt.xlabel(column)  # Label the x-axis with the column name
    plt.ylabel("Frequency")  # Y-axis label
    plt.show()  # Show the plot

# checking for null values

In [17]:
df_1.isna().sum()
# no null values

var_0      0
var_1      0
var_2      0
var_3      0
var_4      0
          ..
var_195    0
var_196    0
var_197    0
var_198    0
var_199    0
Length: 200, dtype: int64

In [19]:
df_1.duplicated().sum() # no duplicates

0

In [15]:
df_1.corr()# correlation is not high so each column is independent

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
var_0,1.000000,-0.000544,0.006573,0.003801,0.001326,0.003046,0.006983,0.002429,0.004962,-0.002613,...,0.002752,0.000206,-0.005373,0.001616,-0.001514,0.002073,0.004386,-0.000753,-0.005776,0.003850
var_1,-0.000544,1.000000,0.003980,0.000010,0.000303,-0.000902,0.003258,0.001511,0.004098,-0.000832,...,0.006627,0.003621,-0.002604,0.001153,-0.002557,-0.000785,-0.000377,-0.004157,-0.004861,0.002287
var_2,0.006573,0.003980,1.000000,0.001001,0.000723,0.001569,0.000883,-0.000991,0.002648,-0.001932,...,0.000197,0.001285,-0.003400,0.000549,0.002104,-0.001070,0.003952,0.001078,-0.000877,0.003855
var_3,0.003801,0.000010,0.001001,1.000000,-0.000322,0.003253,-0.000774,0.002500,0.003553,-0.000826,...,0.000151,0.002445,-0.001530,-0.001699,-0.001054,0.001206,-0.002800,0.001164,-0.001651,0.000506
var_4,0.001326,0.000303,0.000723,-0.000322,1.000000,-0.001368,0.000049,0.004549,0.001194,-0.000918,...,0.001514,0.004357,0.003347,0.000813,-0.000068,0.003706,0.000513,-0.000046,-0.001821,-0.000786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
var_195,0.002073,-0.000785,-0.001070,0.001206,0.003706,-0.001274,0.001244,0.001854,0.001396,-0.000868,...,0.004571,0.000870,-0.004745,-0.003143,-0.001201,1.000000,0.002517,-0.004170,-0.000536,0.002042
var_196,0.004386,-0.000377,0.003952,-0.002800,0.000513,0.002880,0.005378,0.001045,-0.003242,0.000052,...,-0.000847,0.002466,-0.001386,-0.005308,-0.005040,0.002517,1.000000,-0.000454,0.000253,0.000607
var_197,-0.000753,-0.004157,0.001078,0.001164,-0.000046,-0.000535,-0.003565,0.003466,-0.004583,0.003701,...,-0.004974,0.000906,-0.000527,0.005068,0.000884,-0.004170,-0.000454,1.000000,0.001183,0.004991
var_198,-0.005776,-0.004861,-0.000877,-0.001651,-0.001821,-0.000953,-0.003025,0.000650,0.002950,0.002343,...,-0.000153,-0.000067,0.003451,0.001646,0.003194,-0.000536,0.000253,0.001183,1.000000,-0.004731
var_199,0.003850,0.002287,0.003855,0.000506,-0.000786,0.002767,0.006096,-0.001457,0.000854,0.001070,...,-0.000404,0.003595,-0.001239,-0.000552,-0.005615,0.002042,0.000607,0.004991,-0.004731,1.000000

# CHECKING FOR OUTLIERS

In [ ]:
columns_per_row = 3

# Calculate the total number of columns and the required number of rows
num_columns = len(df_1.columns)
num_rows = (num_columns // columns_per_row) + (num_columns % columns_per_row > 0)

# Create a figure with subplots
fig, axes = plt.subplots(num_rows, columns_per_row, figsize=(15, num_rows * 4))

# Flatten the axes array for easier indexing
axes = axes.flatten()

# Loop through each column in df_1 and create box plots
for i, column in enumerate(df_1.columns):
    sns.boxplot(x=df_1[column], ax=axes[i])  # Create a box plot for the current column
    axes[i].set_title(f'Box Plot of {column}')  # Set title for each subplot
    axes[i].grid(visible=True, axis='y')  # Enable grid lines for better readability

# Hide any unused subplots if the number of columns is not a perfect multiple
for j in range(i + 1, len(axes)):
    axes[j].axis('off')  # Turn off the axes that are not used

plt.tight_layout()  # Adjust the layout for better spacing
plt.show()  # Display the combined box plots

In [ ]:
#  IMPUTING OUTLIERS WITH IQR
# Example DataFrame with 200 columns
df = pd.DataFrame(np.random.randn(1000, 200), columns=[f'var_{i}' for i in range(200)])

# Apply IQR outlier treatment across all columns
for column in df_1.columns:
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = df_1[column].quantile(0.25)
    Q3 = df_1[column].quantile(0.75)
    IQR = Q3 - Q1
    
    # Define lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Cap values outside of bounds
    df_1[column] = np.where(df_1[column] > upper_bound, upper_bound, 
                          np.where(df_1[column] < lower_bound, lower_bound, df_1[column]))

# AFTER IMPUTING OUTLIER WITH IQR METHOD

In [ ]:
columns_per_row = 3

# Calculate the total number of columns and the required number of rows
num_columns = len(df_1.columns)
num_rows = (num_columns // columns_per_row) + (num_columns % columns_per_row > 0)

# Create a figure with subplots
fig, axes = plt.subplots(num_rows, columns_per_row, figsize=(15, num_rows * 4))

# Flatten the axes array for easier indexing
axes = axes.flatten()

# Loop through each column in df_1 and create box plots
for i, column in enumerate(df_1.columns):
    sns.boxplot(x=df_1[column], ax=axes[i])  # Create a box plot for the current column
    axes[i].set_title(f'Box Plot of {column}')  # Set title for each subplot
    axes[i].grid(visible=True, axis='y')  # Enable grid lines for better readability

# Hide any unused subplots if the number of columns is not a perfect multiple
for j in range(i + 1, len(axes)):
    axes[j].axis('off')  # Turn off the axes that are not used

plt.tight_layout()  # Adjust the layout for better spacing
plt.show()  # Display the combined box plots

In [25]:
df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [11]:
df_1["target"]=df["target"]

In [20]:
df_1.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199,target
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914,0
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518,0
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965,0
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996,0
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104,0

In [17]:
df_1.target.value_counts()

target
0    179902
1     20098
Name: count, dtype: int64

In [19]:
X = df_1.iloc[:, :-1]  # All columns except the last one
y = df_1.iloc[:, -1]

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X ,y ,test_size=0.2,random_state=45) # SPLITING THE DATA SET INTO TRAIN AND TEST DATA

In [29]:
X_train.shape

(160000, 200)

In [31]:
X_train.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
184152,7.1074,-0.9247,9.0232,5.7269,10.5796,-8.2431,4.8795,16.8262,1.5434,7.9501,...,3.5288,6.9435,1.0183,2.9833,21.8945,0.7976,-1.2671,8.0115,18.5551,-6.3184
197541,6.7112,-1.0151,13.2817,3.2456,11.0238,-7.5188,6.5171,18.5311,-5.7506,6.9814,...,2.0061,3.4662,-0.5497,7.2664,16.7382,-1.5724,3.5879,9.5513,17.1204,-16.4498
152477,12.8961,-7.5365,12.2549,7.8184,9.3644,-4.5090,5.0339,17.9529,1.4255,8.3847,...,8.6647,8.9443,1.4000,5.3427,17.3823,2.5205,7.4598,9.2499,13.5166,-20.1698
165474,12.1012,4.4728,9.2033,1.5938,9.6978,-14.6118,6.3915,12.3844,-2.3455,8.5642,...,2.8943,6.5864,3.1944,2.6599,12.8526,0.4316,11.9698,9.8924,10.0172,-9.2037
123755,6.4984,3.4502,8.1014,9.2525,8.6475,-1.8161,5.8769,15.0088,1.8295,8.8236,...,0.5247,1.8728,3.5116,1.4548,18.4489,0.6584,0.1643,9.1331,14.7396,-17.4234

In [39]:
y_train.shape

(160000,)

# INSTALLING SMOTE FOR FOR IMBALANCE DATA

In [29]:
pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\teja\anaconda3\lib\site-packages (0.12.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\teja\anaconda3\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\teja\anaconda3\lib\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\teja\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\teja\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\teja\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
from imblearn.over_sampling import SMOTE # applying smote 
smote=SMOTE(random_state=42)
X_train_smote,y_train_smote=smote.fit_resample(X_train,y_train)

In [25]:
print("Original class distribution:", y_train.value_counts()) # checking the distribution
print("Class distribution after SMOTE:", y_train_smote.value_counts())

Original class distribution: target
0    143940
1     16060
Name: count, dtype: int64
Class distribution after SMOTE: target
0    143940
1    143940
Name: count, dtype: int64

# SCALLING THE DATA USING STANDRAD SCALER

In [39]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_smote)  # Fit on the training data
X_test_scaled = scaler.transform(X_test)    # Transform the test data using the same scaler

# At this point, you have:
# X_train_scaled: Scaled and SMOTE-applied training features
# y_train_smote: SMOTE-applied training labels
# X_test_scaled: Scaled test features
# y_test: Original test labels (no scaling necessary)

# Now X_train_scaled and X_test_scaled are ready for modeling

# PCA FOR DIMENSANALITY REDUCTION BECAUSE OF  LARGE DATASET

In [33]:
#from sklearn.decomposition import PCA
pca = PCA(n_components=0.8)  # Retain 95% of variance

#  Fit PCA on the scaled training data
X_train_pca = pca.fit_transform(X_train_scaled)

#  Transform the test set using the fitted PCA
X_test_pca = pca.transform(X_test_scaled)

#  Explained variance ratio
print("Explained variance ratio:", pca.explained_variance_ratio_)

# Optional: Plot the explained variance
plt.figure(figsize=(8, 6))
plt.plot(range(1, len(pca.explained_variance_ratio_) + 1), pca.explained_variance_ratio_, marker='o', linestyle='--')
plt.title('Explained Variance by Principal Components')
plt.xlabel('Principal Component')
plt.ylabel('Variance Explained')
plt.grid()
plt.show()
# Now X_train_pca and X_test_pca are ready for modeling

NameError: name 'PCA' is not defined

# IMPLEMENTING RANDOM FOREST TREE

In [41]:


from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
model = RandomForestClassifier(random_state=42,n_estimators=50,max_depth=20,max_features='sqrt')
model.fit(X_train_scaled, y_train_smote)
y_pred=model.predict(X_test_scaled)
print("Confusion Matrix:")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:

Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.92      0.92     35962
           1       0.23      0.22      0.23      4038

    accuracy                           0.85     40000
   macro avg       0.57      0.57      0.57     40000
weighted avg       0.84      0.85      0.85     40000

In [51]:
confusion_matrix(y_test,y_pred)

array([[30391,  5571],
       [ 1535,  2503]], dtype=int64)

# LOGISTIC REGRESSION

# IMLEMENTING K FOLD CROSS VALDATION FOR DATA TRAINING

In [45]:

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lr=LogisticRegression()
kf = KFold(n_splits=5, shuffle=True, random_state=42)
score = cross_val_score(lr,X_train_scaled, y_train_smote,cv=kf)
lr.fit(X_train_scaled, y_train_smote)

y_pred = lr.predict(X_test_scaled)
accuracy_score(y_test, y_pred)
print("cross valscore:-",score)
score.mean()
print(classification_report(y_test, y_pred))

cross valscore:- [0.79852716 0.79854453 0.79821453 0.79739822 0.79878769]
              precision    recall  f1-score   support

           0       0.97      0.80      0.87     35962
           1       0.30      0.76      0.43      4038

    accuracy                           0.79     40000
   macro avg       0.63      0.78      0.65     40000
weighted avg       0.90      0.79      0.83     40000

# IMPLEMENTING SVC

In [136]:
from sklearn.svm import SVC
svc=SVC(kernel="rbf",gamma='scale',degree=2)# setting max_iter to 1000 to reduce execution time because of large dataset
kf = KFold(n_splits=5, shuffle=True, random_state=42)
score = cross_val_score(svc,X_train_scaled, y_train_smote,cv=kf)
svc.fit(X_train_scaled, y_train_smote)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
score = cross_val_score(svc,X_train_scaled, y_train_smote,cv=kf)
y_pred=svc.predict(X_test_scaled)
accuracy_score(y_test,y_pred)# Accuracy is improving as the max_iter is increased

0.567825

In [84]:
score

array([0.73268376, 0.75020842, 0.74154161, 0.75057316, 0.7045123 ])

# XGBOOSTING

In [ ]:
pip install xgboost

In [92]:
from xgboost import XGBClassifier
xgb=XGBClassifier(n_estimators=100,max_depth=3,min_child_weight=1,subsample=0.8, colsample_bytree=0.8,objective='binary:logistic',random_state=45,n_jobs=-1)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
score = cross_val_score(xgb,X_train_scaled, y_train_smote,cv=kf)
xgb.fit(X_train_scaled,y_train_smote)
y_pred=xgb.predict(X_test_scaled)

In [94]:
accuracy_score(y_test,y_pred)

0.824875

In [98]:
score.mean()

0.8583020703070725

In [100]:
confusion_matrix(y_test,y_pred)

array([[31619,  4343],
       [ 2662,  1376]], dtype=int64)

In [106]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      0.88      0.90     35962
           1       0.24      0.34      0.28      4038

    accuracy                           0.82     40000
   macro avg       0.58      0.61      0.59     40000
weighted avg       0.85      0.82      0.84     40000

In [114]:
pip install lightgbm

Collecting lightgbmNote: you may need to restart the kernel to use updated packages.

  Downloading lightgbm-4.5.0-py3-none-win_amd64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in c:\users\teja\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\users\teja\anaconda3\lib\site-packages (from lightgbm) (1.13.1)
Downloading lightgbm-4.5.0-py3-none-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
    --------------------------------------- 0.0/1.4 MB 445.2 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 550.5 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/1.4 MB 655.4 kB/s eta 0:00:03
   --- ------------------------------------ 0.1/1.4 MB 658.7 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.4 MB 787.7 kB/s eta 0:00:02
   ------- -------------------------------- 0.3/1.4 MB 927.4 kB/s eta 0:00:02
   ------- -------------------------------- 0.3/1.4 MB 842.9 kB/s eta 0:00:02
   ------- -------------------------------- 0.3/1.4 MB 842.9 kB/s eta 0:00:02
   ---------- ----------------------------- 0.4/1.4 MB 933.2 kB/s eta 0:00:02
   ------------ --------------------------- 0.5/1.4 MB 940.9 kB/s eta 0:00:02
   -------------- ------------------------- 0.5/1.4 MB 994.2 kB/s eta 0:00:01
   --------------- ------------------------ 0.6/1.4 MB 1.0 MB/s eta 0:00:01
   ---------------- ----------------------- 0.6/1.4 MB 1.0 MB/s eta 0:00:01
   ------------------ --------------------- 0.7/1.4 MB 1.0 MB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 1.0 MB/s eta 0:00:01
   --------------------- ------------------ 0.8/1.4 MB 1.0 MB/s eta 0:00:01
   ---------------------- ----------------- 0.8/1.4 MB 1.0 MB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.4 MB 1.0 MB/s eta 0:00:01
   ------------------------- -------------- 0.9/1.4 MB 1.0 MB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.4 MB 1.0 MB/s eta 0:00:01
   ---------------------------- ----------- 1.0/1.4 MB 1.0 MB/s eta 0:00:01
   ------------------------------ --------- 1.1/1.4 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 1.2/1.4 MB 1.1 MB/s eta 0:00:01
   --------------------------------- ------ 1.2/1.4 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 1.1 MB/s eta 0:00:01
   ------------------------------------ --- 1.3/1.4 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 1.1 MB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-4.5.0

# LIGHTGBM

In [81]:
# LIGHTGBM FINE TUNED WITH THE RANDOMSEARCH CV 
import lightgbm as lgb 

lgbclf = lgb.LGBMClassifier(subsample = 0.6, reg_lambda = 1, reg_alpha = 0.5, num_leaves = 50, n_estimators= 1000,min_child_samples= 30, learning_rate= 0.1, colsample_bytree= 0.6)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
score = cross_val_score(lgbclf,X_train_scaled, y_train_smote,cv=kf)
lgbclf.fit(X_train_scaled,y_train_smote)
y_pred1=lgbclf.predict(X_test_scaled)
accuracy_score(y_test,y_pred1)

[LightGBM] [Info] Number of positive: 114927, number of negative: 115377
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.199367 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51000
[LightGBM] [Info] Number of data points in the train set: 230304, number of used features: 200
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.499023 -> initscore=-0.003908
[LightGBM] [Info] Start training from score -0.003908
[LightGBM] [Info] Number of positive: 115137, number of negative: 115167
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.200186 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51000
[LightGBM] [Info] Number of data points in the train set: 230304, number of used features: 200
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.499935 -> initscore=-0.000261
[LightGBM] [Info] Start training from score -0.000261
[LightGBM] [Info] Number of positive: 115123, number of negative: 115181
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.226589 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51000
[LightGBM] [Info] Number of data points in the train set: 230304, number of used features: 200
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.499874 -> initscore=-0.000504
[LightGBM] [Info] Start training from score -0.000504
[LightGBM] [Info] Number of positive: 115168, number of negative: 115136
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.204154 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51000
[LightGBM] [Info] Number of data points in the train set: 230304, number of used features: 200
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500069 -> initscore=0.000278
[LightGBM] [Info] Start training from score 0.000278
[LightGBM] [Info] Number of positive: 115405, number of negative: 114899
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.216788 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51000
[LightGBM] [Info] Number of data points in the train set: 230304, number of used features: 200
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.501099 -> initscore=0.004394
[LightGBM] [Info] Start training from score 0.004394
[LightGBM] [Info] Number of positive: 143940, number of negative: 143940
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.242666 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 51000
[LightGBM] [Info] Number of data points in the train set: 287880, number of used features: 200
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=0.000000

0.891275

In [ ]:
param_grid = {
    'num_leaves': [20, 31, 40, 50],
    'learning_rate': [0.01, 0.05, 0.1, 0.2],
    'n_estimators': [100, 200, 500, 1000],
    'min_child_samples': [10, 20, 30, 50],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'reg_alpha': [0, 0.1, 0.5, 1],
    'reg_lambda': [0, 0.1, 0.5, 1]}

In [ ]:

random_search = RandomizedSearchCV(
    estimator=lgbclf,
    param_distributions=param_grid,
    n_iter=50,  # Number of random combinations to try
    scoring='accuracy',  # Choose a suitable scoring metric
    cv=3,  # 3-fold cross-validation
    verbose=1,
    random_state=42,
    n_jobs=-1  # Use all available cores
)

In [ ]:
random_search.fit(X_train_scaled,y_train_smote)

In [ ]:
print("Best parameters found: ", random_search.best_params_)
print("Best cross-validation score: ", random_search.best_score_)

In [148]:
y_pred1=lgbclf.predict(X_test_scaled)

In [87]:
accuracy_score(y_test,y_pred1)

0.891275

In [172]:
score.mean()

0.8745623176323468

In [83]:
confusion_matrix(y_test,y_pred1)

array([[34324,  1638],
       [ 2711,  1327]], dtype=int64)

In [85]:
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.93      0.95      0.94     35962
           1       0.45      0.33      0.38      4038

    accuracy                           0.89     40000
   macro avg       0.69      0.64      0.66     40000
weighted avg       0.88      0.89      0.88     40000

# NAIVE_BAYES GAUSSAUBNB

In [188]:

from sklearn.naive_bayes import GaussianNB # WE USED PARTICULARLY GUASSIANNB BECAUSE IT HANDLES NEGATIVE VALUES 
Gnb=GaussianNB()
Gnb.fit(X_train_scaled,y_train_smote)
ygnb_pred=Gnb.predict(X_test_scaled)

In [190]:
confusion_matrix(y_test,ygnb_pred)
print(classification_report(y_test,ygnb_pred))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93     35962
           1       0.17      0.08      0.11      4038

    accuracy                           0.87     40000
   macro avg       0.54      0.52      0.52     40000
weighted avg       0.83      0.87      0.85     40000

In [192]:
confusion_matrix(y_test,ygnb_pred)

array([[34488,  1474],
       [ 3730,   308]], dtype=int64)

In [13]:
df_1.to_pickle('santanderpkl.pkl')